{% extends 'base.html.twig' %}

{% block body %}
    <h1>Déposez une annonce</h1>
    {# Désolé pour la non mise-en-page#}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('publication_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
